
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background-image: url(../images/background.jpg);
}
#start {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
}
.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(../images/background.jpg);
  top: 0;
}
.game-container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 0.6em;
}

.page-title {
  color:blueviolet;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  text-align: center;
  font-size: 4em;
}
.game-info {
  color:blueviolet;
  font-size: 2em;
}

#js_timer {
  text-align: 25px;
}

#timer {
  background-color: #fff;
  color: #000;
  width: 100px;
  margin: 50px auto;
}


/* gae function */
.wrapper {
  box-sizing: content-box;
  width: 41.87em;
  padding: 2.5em 3em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.memory-game {
  width: 640px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memory-card {
  width: calc(20% - 9px);
  height: calc(20% - -30px);
  margin: 5px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;

}

.memory-card.flip {
  transform: rotateY(180deg);
 
}
.memory-card.match {
	cursor: default;
	background: #c5f005c9;
	font-size: 33px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}
.memory-card.disabled {
	pointer-events: none;
	opacity: 0.9;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 0px;
  position: absolute;
  border-radius: 8px;
  background-color: transparent;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
 
}

.memory-card.shake{
  animation: shake 0.35s ease-in-out;
 
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
/* How to play instructions */

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.instructions {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.rules-card {
  font-family: 'Roboto', sans-serif;
  border: 0.8em solid #2376b9;
  background-color: white;
  border-radius: 20px;
  margin: 100px 500px 100px;
  padding: 500px;
  justify-content: center;
}

.rules-list {
  font-weight: 600;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.rules-list li {
  font-family: Roboto, sans-serif;
  margin-bottom: 25px;
  color: black;
  text-align: center;
}
/* game-over modal */

.modal {
  /*Hidden by default */
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 120%;
  padding-bottom: 20px;
}

/* Modal Content Box */

.modal-content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 20px 150px;
  border: 0.8em solid #2376b9;
  padding: 20px 40px;
  border-radius: 20px;
}

/* The Modal Close Buttons */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/align-self */

.close {
  align-self: flex-end;
  color: #28e;
  font-size: 3em;
}

.close:hover,
.close:focus {
  color: #5cf;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Image*/

.modal-img {
  display: inline-block;
  margin: 1em 0 1em;
  width: 15em;
}
button {
  cursor: pointer;
}

button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(../images/2111.w015.n001.604B.p15.604.jpg);
  top: 0;
}
button {
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}
#stop {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #000000;
  color: #ffffff;
}
.controls-container button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}
.hide {
  display: none;
}
#result {
  text-align: center;
}
#result h2 {
  font-size: 2.5em;
}
#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}