
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
	font-family: fantasy;
  font-size: 3em;
  color: tomato;
  text-align: center;
}
.score-panel {
  height: 105px;
  top: 3%;
  left: 4%;
  padding: 0em;
  margin-left: 5em;
  position: absolute;
  width: 43em;
  border-radius: 2em;
  padding: 0em;
  text-align: center;
}
.game-panel {

  display: inline-flex;
  margin-left: 15em;
  
}
.score-board {
  display: inline-flex;
  margin-left: 15em;
}
#starIcon {
  display: inline-block;
  margin-left: 15em;
}

#starIcon i {
  font-size: 12px; 
  color: gold;
  display: inline-block; 
  border: 1px solid black; 
  padding: 5px; 
  }

#home {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('https://img.freepik.com/free-vector/cartoon-forest-background-nature-landscape-with-deciduous-trees-moss-rocks-grass-bushes-sunlight-spots-ground-scenery-summer-spring-wood-parallax-natural-scene-vector-illustration_107791-9113.jpg?w=1380&t=st=1684933332~exp=1684933932~hmac=0cf5b242f3a328f6e9f1e07cd12e24f839ee23a8a9017e47293652a987fe9809');
}
#endGameMessage {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('https://img.freepik.com/free-vector/yes-no-concept-illustration_114360-7564.jpg?w=826&t=st=1685626796~exp=1685627396~hmac=919168a9a87316c7b83f10e5c13eec9c43cd3cf3f400ad129db5704c274e0128');

}
/* instructions */
.instruction {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.instruction-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.memory-game {
  width: 572px;
  height: 428px;
  margin: auto;
  display: none;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memory-card {
  width: calc(29% - 6px);
  height: calc(14% - -35px);
  margin: 5px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;

}

.memory-card.flip {
  transform: rotateY(180deg);
 
}
.memory-card.color {
  background-color: black;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 0px;
  position: absolute;
  border-radius: 8px;
  background-color: transparent;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
 
}

span {
  display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #e58ed2;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #E5958E;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  button:hover {background-color: #FDB095}
  
  button:active {
	background-color: #FDB095;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }
  .gameover {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .gameover-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  #gameOverModal {
    display: none;
  }
  .close {
    align-self: flex-end;
    color: rgb(37, 40, 44);
    font-size: 3em;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(32, 40, 43);
    text-decoration: none;
    cursor: pointer;
  }



    @media screen and (max-width: 950px) {

    .score-panel {
      left: -71%;
    }
    .game-panel {

      display: inline-flex;
      margin-left: 15em;
      
    }
    .score-board {
      display: inline-flex;
      margin-left: 15em;
    }
    #starIcon {
      display: inline-block;
      margin-left: 15em;
    }
  }